extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.main
    h1= title|| 'GoodWatch'
    if user
      h1
        a(href=`/users/${user.id}`)= `Hello ${user.username}`
      form(action="/users/logout", method="post")
          button logout
          a(href='/shows/all') Shows Page
          a(href='/watchlists') Watch Lists
    if !user
      span.nav-bar
        nav
          a(href='/users/login') Log-in
          a(href='/users/signup') Sign up
        form(action="/users/demo", method="post")
          button demo

  block page
    h1= 'Drama'
    for show in showsDrama
        div.shows
            h3= show.name
            if user
              //- button Add
    h1= 'Sci-Fi'
    for show in showsSciFi
        div.shows
            h3= show.name
            if user
              //- button Add
    h1= 'Food'
    for show in showsFood
        div.shows
            h3= show.name
            if user
              //- button Add
    h1= 'Action'
    for show in showsAction
        div.shows
            h3= show.name
    h1= 'Comedy'
    for show in showsComedy
        div.shows
            h3= show.name
    h1= 'Kids'
    for show in showsKids
        div.shows
            h3= show.name
