extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  if user
    h2= `hello ${user.username}`
  div.nav-bar
    nav
      a(href='/users/login') login
      a(href='/users/signup') sign up
      if user
        form(action="/users/logout", method="post")
          button logout
      form(action="/users/demo", method="post")
        button demo
  block page
    h1= 'Drama'
    for show in showsDrama 
        div.shows
            h3= show.name
    h1= 'Sci-Fi'
    for show in showsSciFi 
        div.shows
            h3= show.name
    h1= 'Food'
    for show in showsFood 
        div.shows
            h3= show.name
    h1= 'Action'
    for show in showsAction 
        div.shows
            h3= show.name
             