extends single-show.pug

block content
    form(action=`/shows/${showId}/reviews`, method="post")
        p= showId
        input(type="hidden", name="_csrf", value=csrfToken)
        label(for="review") review
        textarea(name="review", cols="30", rows="4")
        label(for="rating") Rating:
            select(name="rating")
                each rating in [1, 2, 3, 4, 5]
                    option(value=rating) #{rating}
        button post review
