extends layout

include utils.pug

block content
    +validationErrorSummary(errors)
    p= 'hello'
    p= 'hello'
    p= 'hello'
    p= 'hello'
    p= 'hello'
    p= 'hello'
    p= 'hello'
    form(action="/users/signup", method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        +field('Username: ', 'username')
        +field('Email: ', 'email')
        +field('Password: ', 'password')
        +field('Confirm Password: ', 'confirmPassword')
        button submit
