extends layout.pug

include utils.pug

block content
    script(src="/javascripts/index.js" type="module" defer)
    p#showId= showId
    table
            thead
                tr
                    th Name
                    th Description
                    th Overall Rating
                    th Watch Status
                    th Genre
            tbody
                +showTable(show)
                a(href='/shows/all') Back to Shows
    h1= 'Add to a watchlist'
    if user
        ul.watchlist-ul
            for list in watchlists
                li= list.name
        button.add-watchlist add
    h1= 'Reviews'
    for review in reviews
        p= review.review
        textarea#review-text(name='userReview' placeholder='write a review')
        label(for="rating") Rating:
            select#ratingMenu(name="rating")
                each rating in [1, 2, 3, 4, 5]
                    option(value=rating)= rating
        button#write-button POST
