extends index.pug

include utils.pug

block page
    script(src="/javascripts/index.js" type="module" defer)
    link(rel='stylesheet' href='/stylesheets/single-show.css')
    p(id='showId' hidden)= showId

    p(id='userId' )= userId


    div(id="show-details-container")
        div(id="image-container__single-show")
            img(id="image_single-show" src=`${show.imageSrc}`, alt="show pic")
        div(class="show-details")
            h2(class="title") #{show.name}
            p(class="overallRating") <span class="show-rating-label">Score:</span> #{show.overallRating}
            p(class="genre") <span class="show-genre-label">Genre:</span> #{show.genre}
            p(class="description") <span class="show-summary-label">Summary:</span> #{show.description}

    div(id="add-to-watchlist-container")
        p(class="watchlist-secion-text") Add to Watchlist
        if user
            ul.watchlist-ul
                for list in watchlists
                    li(class="appended-watchlists")
                        a(href=`/watchlists/${list.id}`)= list.name
                        if list.showsList.includes(showId)
                            input(type='checkbox' class='checkbox' name=`${list.id}` checked=true)
                        if !list.showsList.includes(showId)
                            input(type='checkbox' class='checkbox' name=`${list.id}` checked=false)
            button.add-watchlist add

    div(id="user-reviews-container")
        p(class="reviews-section-label")= 'Reviews'
        textarea#review-text(name='userReview' placeholder='write a review' cols="50" rows="5")
        label(for="rating") Rating:
            select#ratingMenu(name="rating")
                each rating in [1, 2, 3, 4, 5]
                    option(value=rating)= rating
        button#write-button POST

        div#reviews-container
        for review in reviews
            div.single-reviews(userId=review.userId inside=review.review, reviewId=review.id)
                p <span class="show-review-display">someone said: </span>#{review.review}
                p(class="rating-display") <span class="show-rating-display">Score:</span> #{review.rating} / 5
