extends index

block page
    h1= 'My Watchlists'
    div.watch
        div.watchlist2
            ul.watchlist-ul
                for watchlist in watchlists
                    li
                        a(href=`/watchlists/${watchlist.id}`)= watchlist.name
            button.add-watchlist add

        div.watchshow2
            for list in watchlistsArr
                for show in list
                    a(class="showName-text" href=href=`/shows/${show.id}`)
                        img(#show_pic src=`${show.imageSrc}`, alt="show pic")
                    
