extends index 


block page
    form(action="/", method="get")
        button Home
    for list in user.Watchlists 
        h2= list.name
    for show in user.Shows 
        div.user-shows
            h3= show.name
            div.show-detail
                p= `${user.username} ${show.watchStatus}`
                p= `${show.description}` 
    
